.dishesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .dish{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    background-color: #003049;
    // border:5px solid #003049;
    a{
      height: 25%;
      font-size: .8em;
      background-color: #EAE2B7;
        display: block;
        width: 100%;
        text-align: center;
        color: #003049;
        text-decoration: none;
        border-bottom: 10px solid #003049;
    }
    img{
      height: 75%;
      width: 100%;
    }
  }
}

.notfound{
  height: 100%;
  padding: 40px;

}